<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    </head>
    <body>
        <% include templates/header.ejs %>
        <div id="index-jumbo" class="jumbotron jumbotron-fluid text-white text-center">
            <div class="container jumbo-head ">
            <h1 class="display-1">NBA ADVANCED STATS</h1>
            <p class="lead">Basketball Stats and History for the NBA</p>
            <hr id="index-hr" />
            </div>
        </div>
        </div>

        <nav></nav>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    </body>

</html>