<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
<% include templates/header.ejs %>
<div id="teams-jumbo" class="jumbotron-fluid text-white text-center">


        <img  style="padding-top: 20px" src="images/nba-headshot-fallback.png" >
        <p class="lead">Coming   Soon</p>


</div>

<nav></nav>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</body>

</html>